body {
  font-family:Arial;
}
nav{
  display: flex;
  background-color: #c68fd6;
  justify-content: space-evenly;
  margin: 0px;
}
li {
  display:inline;
  list-style: none;
  
}
li :hover{
  background-color: #682e7a;
  
}
a{
  text-decoration:none;
  color: #ffffff;
  margin: 30 px;
  padding:30px;
}
#registro {
  color: #000000ff
}

table {
    width:100%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;

}

td, tr {
    border: #a3525f 3px solid;
    border-radius: 25px;
    height: 100px;
    width:50px;
    background: pink;
    text-align: center;
}