<!DOCTYPE html>
<html>
<head>
  {% block title %}{% endblock %}
</head>
<body>
  <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>

  {% block navegacion %}
        <nav id="navegador">
      <ul>
        <li><a href="{{ url_for('tablero', n=1) }}">Tablero 1</a></li>
        <li><a href="{{ url_for('tablero', n=2) }}">Tablero 2</a></li>
        <li><a href="{{ url_for('tablero', n=3) }}">Tablero 3</a></li>
      </ul>
    </nav>{% endblock %}
    {% block contenido %}{% endblock %}
    
</body>
</html>